@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* :root {
    --main-bg-color: brown;
    --main-theme-color: rgb(49, 194, 189);
    /* --main-theme-color: rgb(40, 130, 221); */
    /* --selected-color: rgxb(93, 171, 208);  */
    /*--selected-color: rgb(233, 225, 116); 
} 
*/

.bodystyle { 
    font-family: 'PyeongChangPeace-Bold';
    margin: 0;
}

.container {
    padding: 5% 10%;
    position: relative;
}

.container .title {
    text-align: center;
    display: grid;
    grid-template-columns: 20% 10% 40% 10% 20%;
    place-items: center;
}

.heart1{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.heart2{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    
}
.heart1, .heart2 {
    width: 7.5vw;
    height: auto;
}

.container .title1{
    color: #FFB5B5;
    font-size: 400%;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin: 0 auto;
}

.container .title2{
    color: #333;
    font-size: 250%;
    grid-column: 3 / 4;
}

.MainImg {
    width: 88vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6% 0 6% -6%;
}

/* RESULT PAGE */
/* 반응형에서만 width 값 변경 */
.result {
    display: none;
    margin-bottom: 100px;
    background: linear-gradient(180deg, rgb(40, 130, 221), white);
    height: 100%;
    width: 60%;
    min-height: 100vh;
    padding-bottom: 70px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .result {
        width: 100%;
    }

    .container .title div:first-child {
        margin-top: 30px;
        font-size: 1.9em;
    }
    .container .title div:nth-child(2){
        font-size: 18px;
    }

    .container .btn .btn--start {
        margin-top: 20px;
        height: 35px;
        font-size: 2.2em;
        width: 70%;
    }
    
    .container .option {
        font-size: 1em;
    }
    
    .result .btn {
        position: relative;
    }

    .container .question__area .inner .options .option {
        flex-direction: column;
    }

}

.result .char_name {
    margin-top: 40px;
    font-size: 45px;
    color: rgb(40, 130, 221);
}

.result .result_description {
    margin: 20px 13px;
    font-size: 1.35rem;
    font-weight: 100;
}

.result .img_box {
    margin: auto;
    text-align: center;
}

.result .img_box img {
    margin-top: 80px;
    max-height: 500px;
    width: 80%;
}

.result .btn:not(:last-child) {
    margin-top: 20px;
}


.result .result__box {
    background: #fff;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 10px 15px rgb(143, 143, 143);
}

.result .result__box .seperator {
    width: 10%;
    height: 8px;
    background-color: rgb(127, 208, 203);
    opacity: 0.5;
    margin: auto;
}


.result .result__box .char_name {
    padding-top: 30px;
}


/* MATCH */
.result .result__box .match {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.match>div {
    background-color: rgb(181, 232, 235);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #333;
}

.match .good-match {
    margin-right: 20px;
}

.match .good-match .good-title {
    font-size: 1.3rem;
}

.match .bad-match .bad-title {
    font-size: 1.3rem;
}

/* LANGUAGE */
.language {
    display: flex;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.language>div:first-child {
    margin-left: 30px;
}

.language>div {
    margin-right: 30px;
}

.language>div:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* BUTTON */
.btn {
    text-align: center;
    margin: auto;
    font-size: 0.5em;
}
    
.btn .btn--share {
    background-color: #fff;
}

.btn:hover input[type=button] {
    background-color:rgb(233, 225, 116); 
}
    
.btn input[type=button] {
    background-color: #fdfac4;
    font-family: 'PyeongChangPeace-Bold';;
    width: 40%;
    height: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 4px 2px rgb(100, 100, 100);
    font-size: 22px;
    cursor: pointer;
    margin-top: 15px;
    color: #333;
}