@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.container {
    font-family: 'PyeongChangPeace-Bold';
    /* display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 20% 5% 20% 15% 5% 15%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.heartbox {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


/*button*/
.btn {
    text-align: center;
    margin: auto;
    font-size: 0.5em;
}

.btn .btn--share {
    background-color: #fff;
}

.btn:hover input[type=button] {
    background-color: rgb(233, 225, 116);
}

.btn input[type=button] {
    background-color: #fdfac4;
    font-family: 'PyeongChangPeace-Bold';
    ;
    width: 40%;
    height: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 4px 2px rgb(100, 100, 100);
    font-size: 22px;
    cursor: pointer;
    margin-top: 15px;
    color: #333;
}

.heartbox {
    display: flex;
    justify-content: center;
}

.p_title {
    font-size: 3.5rem;
    white-space: nowrap;
    text-align: center;
    margin: 10px;
}

.p_img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.good_match {
    float: left;
    margin: 20px;
}

.bad_match {
    float: right;
    margin: 20px;
}

.p_good_title, 
.p_bad_title {
    text-align: center;
}

.p_title2,
.part1,
.part2 {
    text-align: center;
    margin-bottom: 50px;
}

.department {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
}