@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.container {
    font-family: 'PyeongChangPeace-Light';
    /* display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 20% 5% 20% 15% 5% 15%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_title{
    font-family: 'PyeongChangPeace-Bold';
}

.heartbox {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


/*button*/
.btn {
    
    text-align: center;
    margin: auto;
    font-size: 0.5em;
}

.btn .btn--share {
    background-color: #fff;
}

.btn:hover input[type=button] {
    background-color: rgb(233, 225, 116);
}

.btn input[type=button] {
    background-color: #fdfac4;
    font-family: 'PyeongChangPeace-Bold';
    width: 40%;
    height: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 4px 2px rgb(100, 100, 100);
    font-size: 22px;
    cursor: pointer;
    margin-top: 15px;
    color: #333;
}

.heartbox {
    display: flex;
    justify-content: center;
}
.heart {
    width: 7.5vw;
    height: auto;
}

.p_title {
    font-size: 3.5rem;
    white-space: nowrap;
    text-align: center;
    margin: 10px;
}

.p_img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.good_match {
    float: left;
    margin: 20px;
}

.bad_match {
    float: right;
    margin: 20px;
}

.good_title,
.bad_title {
    font-family: 'PyeongChangPeace-Bold';
}

.p_good_title, 
.p_bad_title {
    text-align: center;
}

.p_title2,
.part1,
.part2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}

.recommend_department {
    font-family: 'PyeongChangPeace-Light';
}
.department {
    font-family: 'PyeongChangPeace-Bold';
    text-align: center;
    font-size: 1.5rem;
    margin: 8% 0 8% 0;
}

.princessImg {
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.good_title,
.bad_title {
    font-size: 1.6rem;
}

.p_good_img,
.p_bad_img {
    width: 25vw;
    height: auto;
}

@media screen and (min-width: 5120px) and (min-height: 2880px) {
    .p_title {
        font-size: 7.2rem;
        white-space: nowrap;
        text-align: center;
        margin: 30px 0 0 0;
    }
    .p_title2,
    .part1_line,
    .part2_line {
        font-size: 4rem;
    }
    .department,
    .good_title, 
    .bad_title {
        font-size: 4.5rem;
    }
    .p_good_title,
    .p_bad_title {
        font-size: 4rem;
    }
    .btn input[type=button] {
        background-color: #fdfac4;
        font-family: 'PyeongChangPeace-Bold';;
        width: 26vw;
        height: 6vh;
        border: none;
        border-radius: 42px;
        box-shadow: 9px 12px 4px rgb(100, 100, 100);
        font-size: 5rem;
        cursor: pointer;
        margin-top: 15px;
        color: #333;
    }
}